{extend name="base" /}

{block name="main"}

<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-admin-add">
	    {if condition="isset($add) && ($add eq 1)"}
	    <input type="hidden" name="loan_id" value="{$loan_id}" >
		{else/}
		<input type="hidden" name="id" value="{$msg.id}" >
		{/if}
      
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>清收时间：</label>
			<div class="formControls col-xs-8 col-sm-9 ">
			    <input type="text" onfocus="WdatePicker()" value="{$msg.back_time?$msg.back_time:''}"  name="back_time" class="input-text Wdate" >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>清收处置进度：</label>
			<div class="formControls col-xs-8 col-sm-9 ">
				<input type="text" class="input-text" value="{$msg.process?$msg.process:''}" placeholder="" id="process" name="process">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>调查人：</label>
			<div class="formControls col-xs-8 col-sm-9 ">
				<input type="text" class="input-text" value="{$msg.back_name?$msg.back_name:''}" placeholder="" id="card" name="back_name">
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				
			</div>
		</div>
	</form>
</article>



<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").validate({
		rules:{
			username:{
				required:true,
				minlength:4,
				maxlength:16
			},
		   {if condition="!isset($msg.username)"}
			password:{
				required:true,
			},
			{/if}
			password2:{
				{if condition="!isset($msg.username)"}
				required:true,
				{/if}
				equalTo: "#password"
			},
			
			sex:{
				required:true,
			},
			role_id:{
				required:true,
			}
		},
		messages:{
			username:{
				required:'用户名不能为空'
			},
			password:{
				required:'密码不能为空'
			},
			password2:{
				required:'密码必须一致'
			},
			sex:{
				required:'性别必须选择'
			},
			role_id:{
				required:'角色必须选择'
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			var $form = $(form);
			$.ajax({
				url:'{$url}',
				type:'post',
				data:$form.serialize(),
				success:function (data) {
					if(data.code==0){
						layer.msg(data.msg);
						parent.location.reload();
						setTimeout("parent.layer.close(parent.layer.getFrameIndex(window.name))",2000);
					}else{
						layer.msg(data.msg);
					}
				}
			});
		}
	});

})


      
</script>

{/block}
