{extend name="base" /}

{block name="main"}

<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-admin-node-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>{$type}名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$msg.name?$msg.name:''}" placeholder="" id="roleName" name="name" datatype="*4-16" nullmsg="">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>{$type}描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$msg.title?$msg.title:''}" placeholder="" id="roleName" name="title" datatype="*4-16" nullmsg="">
			</div>
		</div>
		<div class="row cl" style="display:none;">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否开启：</label>
			<div class="formControls col-xs-8 col-sm-9">
			   <div class="radio-box">
					<input type="radio" name="status" {if condition="!isset($msg.status) || $msg.status neq 0"}checked="checked"{/if} value="1">
					<label>是</label>
				</div>
				<div class="radio-box">
					<input type="radio" name="status" {if condition="isset($msg.status) && $msg.status eq 0"}checked="checked"{/if} value="0">
					<label>否</label>
				</div>
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">排序：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$msg.sort?$msg.sort:''}" placeholder="" id="" name="sort">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			
				{if isset($msg) && $msg!=''}
					<a class="btn btn-primary radius"  onclick="edit()"> 提交</a>
					<input type="hidden" name="id" value="{$msg.id}">
				{else}
					<input type="hidden" name="pid" value="{$pid}" />
				    <input type="hidden" name="level" value="{$level}" />
					<a class="btn btn-primary radius"  onclick="add()"> 提交</a>
				{/if}
			</div>
		</div>
	</form>
</article>


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});
	
	$("#form-admin-node-add").validate({
		rules:{
			roleName:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		}
	});
});

function add(){
	  $.ajax({
		  url:'{:url("admin/admin/nodeadd")}',
		  type:'post',
		  data:$('form').serialize(),
		  success:function (data) {
			  if(data.code==0){
				  layer.msg(data.msg);
				  parent.location.reload();
				  setTimeout("parent.layer.close(parent.layer.getFrameIndex(window.name))",2000);

			  }else{
				  layer.msg(data.msg);
			  }
		  }
	  });
}
function edit(){
	$.ajax({
		url:'{:url("admin/admin/nodeedit")}',
		type:'post',
		data:$('form').serialize(),
		success:function (data) {
			if(data.code==0){
				layer.msg(data.msg);
				parent.location.reload();
				setTimeout("parent.layer.close(parent.layer.getFrameIndex(window.name))",2000);

			}else{
				layer.msg(data.msg);
			}
		}
	});
}
</script>

{/block}