{extend name="base" /}

{block name="content"}

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 经理小区管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
        
                {foreach name="manger" item='vo'}
            <div class="panel panel-default" style="margin-bottom:1%; ">
                <div class="panel-header" style="display: flex;justify-content: space-between;"><a href="javascript:"  class="btn btn-success radius"> {$vo.real_name}</a></div>

                <div class="panel-body">

                    <table class="table table-border table-bordered table-hover">
                        
                        <tr>
                        {foreach name="$vo['xiaoqu']" item="item"}
                            <td><a href="{:url('admin/grid/wangge',['id'=>$item.id])}" target="_blank">{$item.name}</a></td>
                        {/foreach}
                        </tr>
                        
                     </table>

                </div>
            </div>
        {/foreach}
            
        
        <div class="page">{$page}</div>

        </article>
    </div>
</section>



<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">





    function datadel(){
        var $ids=$('input:checked');
        $.ajax({
            url: "",
            type: 'post',
            data: $('input:checked'),
            dataType: 'json',
            success:function(data) {
                if (data.code == 0) {
                    layer.msg(data.msg);
                    location.reload();

                } else {
                    layer.msg(data.msg);
                }
            }
        });
    }

</script>

{/block}
