{extend name="base" /}

{block name="content"}

<div class="Hui-article-box">

    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> {$title1}<span class="c-gray en">&gt;</span>{$title2}<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"href="javascript:history.go(-1);" title="返回" >返回</a></nav>
    <div class="Hui-article">

    <div class="panel panel-default" >
        <div class="panel-header">
            <span>客户编号&nbsp;[{$client['client_number']}]</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span>客户名称&nbsp;[{$client['name']}]</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span>所属机构&nbsp;[{$client['bankname']|default='罗庄农村商业银行'}]</span>
        </div>
    </div>

        <div class="btn-group" style="text-align: center;">
            {include file="clientmenu"}
        </div>

        <h4 style=" text-align: center;">授信用信信息详情</h4>
    <div style="padding:0 20px; margin: 0 auto;">
        <div class="panel panel-default">
            <div class="panel-header" style="display: flex;justify-content: space-between;"><span>授信用信信息</span><a href="javascript:;" onclick="submit('添加授信用信信息','{:url('credit/add',array('client_id'=>$client['id']))}','','510')" ><i class="Hui-iconfont">&#xe600;</i>添加</a></div>
            <div class="panel-body">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead >
                    <tr class="text-c">
                        <th>授信业务品种</th>
                        <th>使用方式</th>
                        <th >授信金额</th>
                        <th>利率浮动幅度</th>
                        <th>授信起始日期</th>
                        <th>授信结束日期</th>
                        <th>主办客户经理</th>
                        <th>使用机构</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {volist name="credit" id="credit"}
                    <tbody>
                    <tr class="text-c">
                        <td>{if !empty($credit.credit_type)&&$credit.credit_type eq 1}表内授信{else}表外授信{/if}</td>
                        <td>{$credit.use_way}</td>
                        <td>{$credit.credit_money}</td>
                        <td>{$credit.cate_range}</td>
                        <td>{:date('Y-m-d',$credit.credit_start_time)}</td>
                        <td>{:date('Y-m-d',$credit.credit_end_time)}</td>
                        <td>{$credit.manager}</td>
                        <td>{$credit.bankname}</td>
                        <td class="td-manage" style="text-align: center;">
                        <a href="javascript:;" onclick="submit('修改授信用信信息','{:url('credit/edit',array('id'=>$credit['id']))}','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i>编辑</a>&nbsp;&nbsp;
                        <a style="text-decoration:none"  href="{:url('credit/del',array('id'=>$credit['id']))}" title="删除授信用信信息"><i class="Hui-iconfont">&#xe6e2;</i>删除</a> </td>
                    </tr>
                    </tbody>
                    {/volist}
                </table>
            </div>
        </div>
    </div>
 </div>   
 


<script type="text/javascript">
    function submit(title,url,w,h){
        layer_show(title,url,w,h);
    }
</script>



{/block}