{extend name="base" /}

{block name="content"}

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> {$title1}<span class="c-gray en">&gt;</span>{$title2}<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <form action="{:url('client/loanres')}" method="get">
            <div class="panel panel-secondary mt-21">
                <div class="panel-header">选择筛选条件</div>
                <div class="panel-body">
                    <table class="table table-border table-bordered table-hover">
                        <div id="cleint">
                        <!--新增贷款的查询-->
                        <tr>
                            <td >业务种类</td>
                            <td >
                                <span class="select-box" >
                                    <select class="select" name="besiness_type"  >
                                        <option value="">==请选择==</option>
                                        {volist name="besiness_type" id="list" key="key"}
                                        <option value="{$key-1}">{$list}</option>
                                        {/volist}
                                    </select>
                                </span>
                            </td>
                            <td >信用等级</td>
                            <td>
                                <span class="select-box" >
                                    <select class="select" name="credit_class"  >
                                        <option value="">==请选择==</option>
                                        {volist name="credit_class" id="list" key="key"}
                                        <option value="{$key-1}">{$list}</option>
                                        {/volist}
                                    </select>
                                </span>
                            </td>
                            <td>贷款账号</td>
                            <td>
                                <input type="text" class="input-text" name="loan_account"/>
                            </td>
                            <td >扣款账号</td>
                            <td >
                                <input type="text" class="input-text" name="koukuan_account"/>
                            </td>
                        </tr>


                        <tr>
                            <td >科目号/名称</td>
                            <td >
                                <span class="select-box" >
                                    <select class="select" name="subject_number"  >
                                        <option value="">==请选择==</option>
                                        {volist name="subject_number" id="list" key="key"}
                                        <option value="{$key-1}">{$key-1}/{$list}</option>
                                        {/volist}
                                    </select>
                                </span>
                            </td>
                            <td>客户号</td>
                            <td>
                                <input type="text" class="input-text" name="client_number"/>
                            </td>
                            <td >借据号</td>
                            <td>
                                <input type="text" class="input-text" name="ious_number"/>
                            </td>

                            <td >贷款形态（五级）</td>
                            <td >
                                <input type="text" class="input-text" name="five_loan_form"/>
                            </td>
                        </tr>


                        <tr>
                            <td >贷款形态（十级）</td>
                            <td >
                                <input type="text" class="input-text" name="ten_loan_form"/>
                            </td>
                            <td>利率执行方式</td>
                            <td>
                                <span class="select-box" >
                                    <select class="select" name="rate_runmode"  >
                                        <option value="">==请选择==</option>
                                        {volist name="rate_runmode" id="list" key="key"}
                                        <option value="{$key-1}">{$list}</option>
                                        {/volist}
                                    </select>
                                </span>
                            </td>
                            <td >首贷日</td>
                            <td>
                                <input style="width: 45%;"type="text" onfocus="WdatePicker()"value=""  name="start_firstloan_time"class="input-text Wdate" >-<input type="text" style="width: 45%;" onfocus="WdatePicker()"value=""  name="end_firstloan_time"class="input-text Wdate" >
                            </td>

                            <td >主办客户经理</td>
                            <td >
                                <input type="text" class="input-text" name="main_manager"/>
                            </td>
                        </tr>
                        <tr>
                            <td>贷款账户状态</td>
                            <td>
                                <span class="select-box" >
                                        <select class="select" name="account_status"  >
                                            <option value="">==请选择==</option>
                                            {volist name="account_status" id="list" key="key"}
                                            <option value="{$key-1}">{$list}</option>
                                            {/volist}
                                        </select>
                                </span>
                            </td>
                            <td>贷款余额</td>
                            <td><input type="text" style="width: 100px;" class="input-text" name="start_remian_money"/>万元-<input type="text" style="width: 100px;" class="input-text" name="end_remian_money"/>万元</td>
                            <td>贷款用途</td>
                            <td>
                                 <span class="select-box" >
                                        <select class="select" name="loan_using"  >
                                            <option value="">==请选择==</option>
                                            {volist name="loan_using" id="list" key="key"}
                                            <option value="{$key-1}">{$list}</option>
                                            {/volist}
                                        </select>
                                </span>

                            </td>
                            <td>担保方式</td>
                            <td>
                                <span class="select-box" >
                                        <select class="select" name="guarantee_way"  >
                                            <option value="">==请选择==</option>
                                            {volist name="guarantee_way" id="list" key="key"}
                                            <option value="{$key-1}">{$list}</option>
                                            {/volist}
                                        </select>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>贷款发放日期</td>
                            <td>
                                <input style="width: 45%;"type="text" onfocus="WdatePicker()"value=""  name="start_provide_time"class="input-text Wdate" >-<input type="text" style="width: 45%;" onfocus="WdatePicker()"value=""  name="end_provide_time"class="input-text Wdate" >
                            </td>
                            <td>贷款到期日期</td>
                            <td>
                                <input style="width: 45%;"type="text" onfocus="WdatePicker()"value=""  name="start_arrive_time"class="input-text Wdate" >-<input type="text" style="width: 45%;" onfocus="WdatePicker()"value=""  name="end_arrive_time"class="input-text Wdate" >
                            </td>
                            <td>欠息金额</td>
                            <td><input type="text" style="width: 38%;" class="input-text" name="start_debt_money"/>万元-<input type="text" style="width: 38%;" class="input-text" name="end_debt_money"/>万元</td>
                            <td>发放类型</td>
                            <td>
                                <span class="select-box" >
                                    <select class="select" name="provide_type"  >
                                        <option value="">==请选择==</option>
                                        {volist name="provide_type" id="list" key="key"}
                                        <option value="{$key-1}">{$list}</option>
                                        {/volist}
                                    </select>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>合同金额</td>
                            <td><input type="text" style="width: 38%;" class="input-text" name="start_contract_money"/>万元-<input type="text" style="width: 38%;" class="input-text" name="end_contract_money"/>万元</td>
                            <td>发放金额</td>
                            <td><input type="text" style="width: 38%;" class="input-text" name="start_provide_money"/>万元-<input type="text" style="width: 38%;" class="input-text" name="end_provide_money"/>万元</td>
                            <td>业务编号</td>
                            <td><input type="text"  class="input-text" name="besiness_number"/></td>
                            <td colspan="2"></td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="panel panel-success  mt-21">
                <div class="panel-header">选择查看的字段</div>
                <div class="panel-body">
                    <table class="table table-border table-bordered table-hover table-bg " >
                        <thead>
                        <tr >
                            <th style="width: 25%;text-align: center;"><strong>结果字段</strong> <span class="r"><a href="javascript:;"  class="btn radius btn-warning" onclick="add_all();">添加全部<i class="Hui-iconfont">&#xe67a;</i></a></span></th>
                            <th style="width:  25%;text-align: center;"><span class="l"><a href="javascript:;"  class="btn radius btn-warning" onclick="remove_all();"><i class="Hui-iconfont">&#xe678;</i>移除全部</a></span><strong>展示字段</strong></th>
                            <th style=" width: 50%;">

                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr >
                            <td  style="text-align: center;" >
                                <div style="overflow-y: scroll;height: 180px;"id="select">
                                    <a href="#" id="intable-besiness_number" class="btn btn-primary-outline radius hui-animation " style="width: 200px;margin-top: 5px;" data-tra="业务号">业务号</a><br>
                                    <a href="#" id="intable-client_number" class="btn btn-primary-outline radius hui-animation " style="width: 200px;margin-top: 5px;" data-tra="客户号">客户号</a><br>
                                    <a href="#" id="intable-loan_account" class="btn btn-primary-outline radius hui-animation " style="width: 200px;margin-top: 5px;" data-tra="贷款账号">贷款账号</a><br>
                                    <a href="#" id="intable-koukuan_account" class="btn btn-primary-outline radius hui-animation " style="width: 200px;margin-top: 5px;" data-tra="扣款账号">扣款账号</a><br>
                                    <a href="#" id="intable-remian_money" class="btn btn-primary-outline radius hui-animation " style="width: 200px;margin-top: 5px;" data-tra="贷款余额">贷款余额</a><br>
                                    <a href="#" id="intable-use_rate" class="btn btn-primary-outline radius hui-animation " style="width: 200px;margin-top: 5px;" data-tra="利率">利率</a><br>
                                    <a href="#" id="intable-account_status" class="btn btn-primary-outline radius hui-animation " style="width: 200px;margin-top: 5px;" data-tra="账户状态">账户状态</a><br>


                                </div>
                            </td>
                            <td rowspan="5" style="text-align: center;" >
                                <div style="overflow-y: scroll;height: 180px;" id="list"></div>
                            </td>
                            <td >
                                <a class="btn btn-success size-L radius"onclick="submit()" style="position: relative ;left:3%;top: 70%" href="javascript:;">确认</a>
                                <!--<input class="btn btn-success size-L radius" type="submit" value="提交"style="position: relative ;left:3%;top: 70%;margin-left: 3%"/>-->

                                <!--<a class="btn btn-success size-L radius"onclick="submit()" style="position: relative ;left:3%;top: 70%" href="javascript:;">提交</a>-->
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </form>

    </div>


</section>



<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('#select').on('click','a',function(){
        var tra=$(this).attr('data-tra');
        var id=$(this).attr('id');

        $(this).next('br').remove();
        $(this).remove();

        var input='<a id="'+id+'" style="width: 200px;margin-top: 5px;" hre="#" class="btn btn-primary-outline radius hui-rotateinLT" data-tra="'+tra+'">'+tra+'</a><br/>';
        $('#list').append(input);
    });


    $('#list').on('click','a',function() {
        var tra = $(this).attr('data-tra');
        var id = $(this).attr('id');
        $(this).removeClass();
        $(this).addClass('btn btn-primary-outline radius hui-rotateoutLT');
        var find=$('#select').children('#'+id).attr('id');
        if(find==undefined){
            var input = '<a id="' + id + '" style="width: 200px;margin-top: 5px;" hre="#" class="btn btn-primary-outline radius hui-animation"data-tra="'+tra+'">' + tra + '</a><br/>';
            $('#select').append(input);
        }
        setTimeout(function(){
            $('#list').children('#'+id).next('br').remove();
            $('#list').children('#'+id).remove();
        },1000);
    });

    function submit(){


        var len=$('#list > a').length;
        if(len>=1){
            var list=$('#list').children('a').attr('id');
            var names=list+',';
            for(var i=1;i<len;i++){
                var id=$('#'+list).next('br').next('a').attr('id');
                names+=id+',';
                list=id;
            }
        }
        var input='<input name=names type="hidden"value="'+names+'"/>';
        $('form').append(input);
        $('form').submit();

    }
    function add_all(){
        var html = $('#select').html();
        $('#select').children().remove();
        $('#list').append(html);
    }
    function remove_all()
    {
        var html = $('#list').html();
        $('#list').children().remove();
        $('#select').append(html);
    }



    /*用户-添加*/
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }






</script>

{/block}
