{extend name="base" /}

{block name="main"}

<article class="cl pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        
        <input type="hidden" name="card_number" value="{$card_number}" >
      
        <h3 class="text-c">品行信息</h3>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">家庭关系：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <span class="select-box">
                    <select class="select" name="pinxing_familyrelation">
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.pinxing_familyrelation)&&($tese.pinxing_familyrelation eq 1)}selected="selected"{/if} value="1">和睦</option>
                        <option {if isset($tese.pinxing_familyrelation)&&($tese.pinxing_familyrelation eq 2)}selected="selected"{/if} value="2">一般</option>
                        <option {if isset($tese.pinxing_familyrelation)&&($tese.pinxing_familyrelation eq 3)}selected="selected"{/if} value="3">不和睦</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">社会声誉：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" name="pinxing_shengyu">
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.pinxing_shengyu)&&($tese.pinxing_shengyu eq 1)}selected="selected"{/if} value="1">良好</option>
                        <option {if isset($tese.pinxing_shengyu)&&($tese.pinxing_shengyu eq 2)}selected="selected"{/if} value="2">一般</option>
                        <option {if isset($tese.pinxing_shengyu)&&($tese.pinxing_shengyu eq 3)}selected="selected"{/if} value="3">较差</option>
                    </select>
                </span> 
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">不良行为：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" name="pinxing_buliang">
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.pinxing_buliang)&&($tese.pinxing_buliang eq 1)}selected="selected"{/if} value="1">无</option>
                        <option {if isset($tese.pinxing_buliang)&&($tese.pinxing_buliang eq 2)}selected="selected"{/if} value="2">酗酒</option>
                        <option {if isset($tese.pinxing_buliang)&&($tese.pinxing_buliang eq 3)}selected="selected"{/if} value="3">斗殴</option>
                        <option {if isset($tese.pinxing_buliang)&&($tese.pinxing_buliang eq 4)}selected="selected"{/if} value="4">赌博</option>
                        <option {if isset($tese.pinxing_buliang)&&($tese.pinxing_buliang eq 5)}selected="selected"{/if} value="5">奢侈浪费</option>
                        <option {if isset($tese.pinxing_buliang)&&($tese.pinxing_buliang eq 6)}selected="selected"{/if} value="6">高息借贷</option>
                        <option {if isset($tese.pinxing_buliang)&&($tese.pinxing_buliang eq 7)}selected="selected"{/if} value="7">存在债务纠纷或涉诉</option>
                        <option {if isset($tese.pinxing_buliang)&&($tese.pinxing_buliang eq 8)}selected="selected"{/if} value="8">受过行政处罚</option>
                        <option {if isset($tese.pinxing_buliang)&&($tese.pinxing_buliang eq 9)}selected="selected"{/if} value="9">其他不良行为</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">诚信情况：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" name="pinxing_chengxin">
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.pinxing_chengxin)&&($tese.pinxing_chengxin eq 1)}selected="selected"{/if} value="1">诚实守信</option>
                        <option {if isset($tese.pinxing_chengxin)&&($tese.pinxing_chengxin eq 2)}selected="selected"{/if} value="2">信用一般</option>
                        <option {if isset($tese.pinxing_chengxin)&&($tese.pinxing_chengxin eq 3)}selected="selected"{/if} value="3">信用较差</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">创新能力：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" name="pinxing_chuangxin">
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.pinxing_chuangxin)&&($tese.pinxing_chuangxin eq 1)}selected="selected"{/if} value="1">较强</option>
                        <option {if isset($tese.pinxing_chuangxin)&&($tese.pinxing_chuangxin eq 2)}selected="selected"{/if} value="2">一般</option>
                        <option {if isset($tese.pinxing_chuangxin)&&($tese.pinxing_chuangxin eq 3)}selected="selected"{/if} value="3">较差</option>
                    </select>
                </span>
            </div>
        </div>
        <h3 class="text-c">种植信息</h3>
         <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">种植种类：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" name="zhongzhi_class">
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.zhongzhi_class)&&($tese.zhongzhi_class eq 1)}selected="selected"{/if} value="1">蔬菜</option>
                        <option {if isset($tese.zhongzhi_class)&&($tese.zhongzhi_class eq 2)}selected="selected"{/if} value="2">水果</option>
                        <option {if isset($tese.zhongzhi_class)&&($tese.zhongzhi_class eq 3)}selected="selected"{/if} value="3">粮食作物</option>
                        <option {if isset($tese.zhongzhi_class)&&($tese.zhongzhi_class eq 3)}selected="selected"{/if} value="3">其他</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">种植亩数：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 <input type="text" class="input-text" value="{if isset($tese.zhongzhi_num) && $tese.zhongzhi_num != 0}{$tese.zhongzhi_num|default=''}{/if}" placeholder="种植亩数"  name="zhongzhi_num" style="width:70%;">&nbsp;亩
            </div>
        </div>
         <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">种植模式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" name="zhongzhi_mode">
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.zhongzhi_mode)&&($tese.zhongzhi_mode eq 1)}selected="selected"{/if} value="1">露天</option>
                        <option {if isset($tese.zhongzhi_mode)&&($tese.zhongzhi_mode eq 2)}selected="selected"{/if} value="2">大棚</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">亩产：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 <input type="text" class="input-text" value="{if isset($tese.zhongzhi_muchan) && $tese.zhongzhi_muchan != 0}{$tese.zhongzhi_muchan|default=''}{/if}" placeholder="亩产"  name="zhongzhi_muchan" style="width:70%;">&nbsp;斤
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">经营年限：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker()" value="<?php echo (isset($tese['zhongzhi_years']) && ($tese['zhongzhi_years'] != '')?$tese['zhongzhi_years']:''); ?>"  name="zhongzhi_years" class="input-text Wdate" style="width:70%;">&nbsp;选择最早经营年份
            </div>
        </div>
        <h3 class="text-c">养殖信息</h3>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">养殖种类：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" name="yangzhi_class">
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.yangzhi_class)&&($tese.yangzhi_class eq 1)}selected="selected"{/if} value="1">家禽</option>
                        <option {if isset($tese.yangzhi_class)&&($tese.yangzhi_class eq 2)}selected="selected"{/if} value="2">家畜</option>
                        <option {if isset($tese.yangzhi_class)&&($tese.yangzhi_class eq 3)}selected="selected"{/if} value="3">淡水养殖</option>
                        <option {if isset($tese.yangzhi_class)&&($tese.yangzhi_class eq 4)}selected="selected"{/if} value="4">海水养殖</option>
                        <option {if isset($tese.yangzhi_class)&&($tese.yangzhi_class eq 5)}selected="selected"{/if} value="5">其他</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">数量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 <input type="text" class="input-text" value="{if isset($tese.yangzhi_num) && $tese.yangzhi_num != 0}{$tese.yangzhi_num|default=''}{/if}" placeholder="数量"  name="yangzhi_num" style="width:80%;">&nbsp;
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">经营年限：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker()" value="<?php echo (isset($tese['yangzhi_years']) && ($tese['yangzhi_years'] != '')?$tese['yangzhi_years']:''); ?>"  name="yangzhi_years" class="input-text Wdate" style="width:70%;">&nbsp;选择最早经营年份
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">固定资产：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 <input type="text" class="input-text" value="{$tese.yangzhi_zichan|default=''}" placeholder="固定资产"  name="yangzhi_zichan" style="width:70%;">&nbsp;
            </div>
        </div>
        <h3 class="text-c">工作信息</h3>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">是否固定工作：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                 <div class="radio-box">
                    <input type="radio" id="is_poor-2" value="" name="guding_work" checked>
                    <label for="is_poor-2">未调查</label>
                </div>
                <div class="radio-box">
                    <input name="guding_work" type="radio"  value="1" id="is_poor-1" <?php echo (isset($tese['guding_work']) && ($tese['guding_work'] == '1')?'checked':''); ?> >
                    <label for="is_poor-1">是</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="is_poor-2" value="2" name="guding_work" <?php echo (isset($tese['guding_work']) && ($tese['guding_work'] == '2')?'checked':''); ?>>
                    <label for="is_poor-2">否</label>
                </div>

            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">工作单位名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.work_place|default=''}" placeholder="工作单位名称"  name="work_place">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">工作单位地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.work_address|default=''}" placeholder="工作单位地址"  name="work_address">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">单位地址邮编：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.work_postcode|default=''}" placeholder="单位地址邮编"  name="work_postcode">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">单位工作起始年份：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker()" value="<?php echo (isset($tese['start_work']) && ($tese['start_work'] != '')?date('Y-m-d',$tese['start_work']):''); ?>" name="start_work"class="input-text Wdate" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">职称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 150px;">
                    <select class="select" name="job_title"  >
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.job_title)&&($tese.job_title eq 1)}selected="selected"{/if} value="1">未知</option>
                        <option {if isset($tese.job_title)&&($tese.job_title eq 2)}selected="selected"{/if} value="2">无</option>
                        <option {if isset($tese.job_title)&&($tese.job_title eq 3)}selected="selected"{/if} value="3">初级</option>
                        <option {if isset($tese.job_title)&&($tese.job_title eq 4)}selected="selected"{/if} value="4">中级</option>
                        <option {if isset($tese.job_title)&&($tese.job_title eq 5)}selected="selected"{/if} value="5">高级</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">职务：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 150px;">
                    <select class="select" name="duty"  >
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.duty)&&($tese.duty eq 1)}selected="selected"{/if} value="1">未知</option>
                        <option {if isset($tese.duty)&&($tese.duty eq 2)}selected="selected"{/if} value="2">一般员工</option>
                        <option {if isset($tese.duty)&&($tese.duty eq 3)}selected="selected"{/if} value="3">中级领导</option>
                        <option {if isset($tese.duty)&&($tese.duty eq 4)}selected="selected"{/if} value="4">高级领导</option>
                        <option {if isset($tese.duty)&&($tese.duty eq 5)}selected="selected"{/if} value="5">其他</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">职务细分：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 150px;">
                    <select class="select" name="duty_xifen"  >
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.duty_xifen)&&($tese.duty_xifen eq 1)}selected="selected"{/if} value="1">未知</option>
                        <option {if isset($tese.duty_xifen)&&($tese.duty_xifen eq 2)}selected="selected"{/if} value="2">无</option>
                        <option {if isset($tese.duty_xifen)&&($tese.duty_xifen eq 3)}selected="selected"{/if} value="3">初级</option>
                        <option {if isset($tese.duty_xifen)&&($tese.duty_xifen eq 4)}selected="selected"{/if} value="4">中级</option>
                        <option {if isset($tese.duty_xifen)&&($tese.duty_xifen eq 5)}selected="selected"{/if} value="5">高级</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">职业：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.occupation|default=''}" placeholder="职业"  name="occupation">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">单位联系方式（固话）：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.unit_phone|default=''}" placeholder="单位联系方式（固话）"  name="unit_phone">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">医疗保险上年度合计缴纳金额：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.pay_amount|default=''}" placeholder="医疗保险上年度合计缴纳金额"  name="pay_amount">
            </div>
        </div>
        
         <h3 class="text-c">经营信息</h3>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">有无经营信息：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 150px;">
                    <select class="select" name="jingying_has"  >
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.jingying_has)&&($tese.jingying_has eq 1)}selected="selected"{/if} value="1">有</option>
                        <option {if isset($tese.jingying_has)&&($tese.jingying_has eq 2)}selected="selected"{/if} value="2">无</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">字号名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.jingying_zihao|default=''}" placeholder="字号名称"  name="jingying_zihao">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">经营者姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.jingying_name|default=''}" placeholder="经营者姓名"  name="jingying_name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">营业执照号码:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.jingying_number|default=''}" placeholder="营业执照号码"  name="jingying_number">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">经营场所：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.jingying_address|default=''}" placeholder="经营场所"  name="jingying_address">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">经营范围：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.jingying_range|default=''}" placeholder="经营范围"  name="jingying_range">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">客户类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 150px;">
                    <select class="select" name="jingying_guest_type"  >
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.jingying_guest_type)&&($tese.jingying_guest_type eq 1)}selected="selected"{/if} value="1">农民</option>
                        <option {if isset($tese.jingying_guest_type)&&($tese.jingying_guest_type eq 2)}selected="selected"{/if} value="2">城镇居民</option>
                        <option {if isset($tese.jingying_guest_type)&&($tese.jingying_guest_type eq 3)}selected="selected"{/if} value="3">个体工商户</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">经营年限：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker()" value="<?php echo (isset($tese['jingying_years']) && ($tese['jingying_years'] != '')?$tese['jingying_years']:''); ?>" name="jingying_years"class="input-text Wdate">
            </div>
        </div>
         <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">运营车辆数量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.jingying_cars|default=''}" placeholder="运营车辆数量"  name="jingying_cars">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">员工人数：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.jingying_workers|default=''}" placeholder="员工人数"  name="jingying_workers">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">人身工伤保险员工数量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.jingying_baoxian|default=''}" placeholder="人身工伤保险员工数量"  name="jingying_baoxian">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">经营场地属性：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 150px;">
                    <select class="select" name="jingying_cdsx"> 
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.jingying_cdsx)&&($tese.jingying_cdsx eq 1)}selected="selected"{/if} value="1">自由</option>
                        <option {if isset($tese.jingying_cdsx)&&($tese.jingying_cdsx eq 2)}selected="selected"{/if} value="2">租赁</option>
                        <option {if isset($tese.jingying_cdsx)&&($tese.jingying_cdsx eq 3)}selected="selected"{/if} value="3">自由租赁</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">自有经营场地建筑面积：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.jingying_zyjymj|default=''}" placeholder="自有经营场地建筑面积"  name="jingying_zyjymj">
            </div>
        </div>
         <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">租赁经营场地建筑面积：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$tese.jingying_zljymj|default=''}" placeholder="租赁经营场地建筑面积"  name="jingying_zljymj">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">pos商户：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 150px;">
                    <select class="select" name="jingying_pos"> 
                        <option value="" selected="selected">==请选择==</option>
                        <option {if isset($tese.jingying_pos)&&($tese.jingying_pos eq 1)}selected="selected"{/if} value="1">我行</option>
                        <option {if isset($tese.jingying_pos)&&($tese.jingying_pos eq 2)}selected="selected"{/if} value="2">他行</option>
                        <option {if isset($tese.jingying_pos)&&($tese.jingying_pos eq 3)}selected="selected"{/if} value="3">无</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">机具安装日期：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker()" value="<?php echo (isset($tese['jingying_azdate']) && ($tese['jingying_azdate'] != '')?$tese['jingying_azdate']:''); ?>" name="jingying_azdate"class="input-text Wdate">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                {if isset($tese)&&$tese!=''}
                <a class="btn btn-primary radius"  onclick="edit()"> 提交</a>
                {else}
                <a class="btn btn-primary radius"  onclick="add()"> 提交</a>
                {/if}
                <input type="reset" value="重置" class="btn btn-primary radius" >
            </div>
        </div>
    </form>
</article>



<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });


    });

    function add(){
        $.ajax({
            url:'{:url("admin/client/tese_add")}',
            type:'post',
            data:$('form').serialize(),
            success:function (data) {
                if(data.code==0){
                    layer.msg(data.msg);
                    parent.location.reload();
                    setTimeout("parent.layer.close(parent.layer.getFrameIndex(window.name))",2000);
                }else{
                    layer.msg(data.msg);
                }
            }
        });
    }
    function edit(){
        $.ajax({
            url:'{:url("admin/client/tese_edit")}',
            type:'post',
            data:$('form').serialize(),
            success:function (data) {
                if(data.code==0){
                    layer.msg(data.msg);
                    parent.location.reload();
                    setTimeout("parent.layer.close(parent.layer.getFrameIndex(window.name))",2000);
                }else{
                    layer.msg(data.msg);
                }
            }
        });

    }



</script>

{/block}
