{extend name="base" /}

{block name="main"}
<link href="/static/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<article class="cl pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <div id="picurl"></div>
        {if !empty($info)&&isset($info)}

        <input type="hidden" name="id" value="{$info.id}" >
        {else}
        <input type="hidden" name="activity_id" value="{$activity_id}" >
        {/if}
        
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2">活动效果：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="activity_result" class="textarea radius" placeholder="活动的效果">{$info.activity_result|default=''}</textarea>
            </div>
        </div>
        <div class="row cl">
                <label class="form-label col-xs-2 col-sm-2">活动心得：</label>
                <div class="formControls col-xs-8 col-sm-9">
                        <textarea name="activity_xinde" class="textarea radius" placeholder="活动的心得">{$info.activity_xinde|default=''}</textarea>
                </div>
            </div>

       
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">


                <a class="btn btn-primary radius"  onclick="add()"> 提交</a>

                <!--<input class="btn btn-primary radius" onclick="submit()" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">-->
            </div>
        </div>
    </form>
</article>



<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/static/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });


    });

    function add(){
        $.ajax({
            url:'{$url}',
            type:'post',
            data:$('form').serialize(),
            success:function (data) {
                if(data.code==0){
                    layer.msg(data.msg);
                    parent.location.reload();
                    setTimeout("parent.layer.close(parent.layer.getFrameIndex(window.name))",2000);
                }else{
                    layer.msg(data.msg);
                }
            }
        });
    }


 

</script>

{/block}
