{extend name="base" /}

{block name="content"}

<div class="Hui-article-box">

    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 营销管理<span class="c-gray en">&gt;</span>拜访记录详情<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:history.go(-1);" title="返回" >返回</a></nav>


    <h4 style=" text-align: center;">客户拜访记录</h4>
    <div style="width: 1000px;margin: 0 auto;">
        <div class="panel panel-default">
            <div class="panel-header" style="display: flex;justify-content: space-between;"><span>客户拜访记录详情</span><a href="javascript:;" onclick="submit('添加拜访记录','{:url('add',array('client_id'=>input('client_id'),'user_id'=>$user['id']))}','','510')" ><i class="Hui-iconfont">&#xe600;</i>添加</a></div>
            <div class="panel-body">

                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead >
                    <tr class="text-c">
                        <th>编号</th>
                        <th>客户名称</th>
                        <th>拜访记录内容</th>
                        <th>拜访记录次数</th>
                        <th>拜访时间</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {volist name="info" id="list" key="key"}
                    <tbody>
                    <tr class="text-c">
                        <td>{$list.id}</td>
                        <td>{$list.name}</td>
                        <td>{$list.content}</td>
                        <td>第{$key}次</td>
                        <td>{:date('Y-m-d',$list.visit_time)}</td>
                        <td>{:date('Y-m-d',$list.add_time)}</td>
                        <td class="td-manage"><a href="javascript:;" onclick="submit('修改拜访记录','{:url('edit',array('visit_id'=>$list['id']))}','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i>编辑</a>&nbsp;&nbsp;<a style="text-decoration:none"  href="{:url('del',array('visit_id'=>$list['id']))}" title="删除拜访记录"><i class="Hui-iconfont">&#xe6e2;</i>删除</a>&nbsp;&nbsp;<a href="{:url('visit_detail',array('visit_id'=>$list['id']))}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe725;</i>查看</a> </td>

                    </tr>
                    </tbody>
                    {/volist}
                </table>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,4,6,8]}// 制定列不参与排序
            ]
        });
        $('.table-sort tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
    function submit(title,url,w,h){
        layer_show(title,url,w,h);
    }
</script>



{/block}