{extend name="base" /}

{block name="content"}

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        客户拜访
        <span class="c-gray en">&gt;</span>
        我的客户
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="text-c">
            <form action="{:url('show')}" method="post">

                    选择地区：
                    <span class="select-box inline">
                        <select name="province" id="province" class="select">
                            {:get_province()}
                        </select>
                        <select name="city" id="city" class="select">

                            <option value="">==请选择==</option>
                        </select>
                        <select name="area" id="area" class="select">
                            <option value="">==请选择==</option>
                        </select>
                    </span>
                小区：<input type="text" class="input-text" style="width:150px" placeholder="输入小区" value="{$post.current_address|default=''}" name="current_address">

                客户名称：<input type="text" class="input-text" style="width:150px" placeholder="客户名称" value="{$post.name|default=''}" name="name">
                联系方式：<input type="text" class="input-text" style="width:150px" placeholder="手机号" value="{$post.tel_number|default=''}" name="tel_number">

                    <span class="select-box" style="width: 150px;line-height: 21px;">
                        <select class="select" name="client_grade"  >
                            <option value=" ">客户评级</option>
                            <option  <?php if(!empty($post['client_grade'])&&$post['client_grade']==1){ echo  'selected="selected"'; }?> value="1">潜在客户</option>
                            <option <?php if(!empty($post['client_grade'])&&$post['client_grade']==2){ echo  'selected="selected"'; }?> value="2">普通客户</option>
                            <option <?php if(!empty($post['client_grade'])&&$post['client_grade']==3){ echo  'selected="selected"'; }?> value="3">黄金客户</option>
                            <option <?php if(!empty($post['client_grade'])&&$post['client_grade']==4){ echo  'selected="selected"'; }?> value="4">白金客户</option>
                            <option <?php if(!empty($post['client_grade'])&&$post['client_grade']==5){ echo  'selected="selected"'; }?> value="5">红钻客户</option>
                            <option <?php if(!empty($post['client_grade'])&&$post['client_grade']==6){ echo  'selected="selected"'; }?> value="6">金钻客户</option>
                        </select>
                    </span>
                    <button name="" id="" class="btn btn-success  radius" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索客户</button>

            </form>




            </div>
            <div class="cl pd-5 bg-1 bk-gray mt-10">

                <span class="r">共有数据：<strong>{:count($info)}</strong> 条</span>
            </div>
            <div class="mt-10">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""></th>
                            <th width="80">编号</th>
                            <th width="80">客户名称</th>
                            <th width="80">证件号码</th>
                            <th width="80">客户评级</th>
                            <th width="120">客户现住址</th>
                            <th width="75">联系方式</th>
                            <th width="120">操作</th>
                        </tr>
                    </thead>
                    {volist name="info"  id="list"}
                    <tbody>
                    <tr class="text-c">
                        <td><input type="checkbox" value="{$list.id}" name="id[]"></td>
                        <td>{$list.id}</td>
                        <td><a style=" color: blue;" href="{:url('client/clientdetail',array('client_id'=>$list['id']))}">{$list.name}</a></td>
                        <td>{$list.card_number}</td>
                         <td>{if is_array(get_name('client_grade',$list.client_grade))}{else}{:get_name('client_grade',$list.client_grade)}{/if}</td>
                        <td>{$list.current_address}</td>
                        <td>{$list.tel_number}</td>
                        <td class="f-14 td-manage">

                           <!--  <a style="text-decoration:none"  href="{:url('client/clientdetail',array('client_id'=>$list['id']))}" title="查看客户详情"><i class="Hui-iconfont">&#xe725;</i>查看</a>&nbsp;&nbsp; -->
                            <a style="text-decoration:none"  href="{:url('detail',array('client_id'=>$list['id']))}" title="查看拜访记录详情"><i class="Hui-iconfont">&#xe720;</i>客户记录</a>&nbsp;&nbsp;
                        </td>
                    </tr>
                    </tbody>
                    {/volist}
                </table>
            </div>
            <div class="page">{$page}</div>
        </article>
    </div>
</section>


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

    $(function(){
//        $('.table-sort').dataTable({
//            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
//            "bStateSave": true,//状态保存
//            "aoColumnDefs": [
//                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
//                {"orderable":false,"aTargets":[0]}// 不参与排序的列
//            ]
//        });
//        $('.table-sort tbody').on( 'click', 'tr', function () {
//            if ( $(this).hasClass('selected') ) {
//                $(this).removeClass('selected');
//            }
//            else {
//                table.$('tr.selected').removeClass('selected');
//                $(this).addClass('selected');
//            }
//        });
    });

    $("#province").change(function () {
        $("#area option").remove();
        $("#area").append('<option value="">==请选择==</option>');
        setRegion(this,"city"); });
    $("#city").change(function () {  setRegion(this,"area"); });
    function setRegion(parent,child){
        $.post('/admin/index/region', {region_id:$(parent).val()},
                function(data){
                    $("#"+child).html(data);
                },
                "JSON");
    }



</script>

{/block}

