{extend name="base" /}

{block name="main"}

<article class="cl pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        {if !empty($client_id)&&(isset($client_id))}
        <input type="hidden" name="client_id" value="{$client_id}" >
        {else}
        <input type="hidden" name="id" value="{:input('sign_id')}" >
        {/if}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">签约网点：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 350px;">
					<select class="select" name="sign_website_number"  >
                        <option value="">==请选择==</option>
                        {volist name="bank" id="name"}
                        <option  {if isset($sign)&&($sign['sign_website_number']==$name['id'])} selected="selected"{/if} value="{$name.id}">{$name.bankname}</option>
                        {/volist}
                    </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">签约类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width: 150px;">
					<select class="select" name="sign_type"  >
                        <option value="">==请选择==</option>
                        {volist name="sign_type" id="sign_type" key="key"}
                        <option  {if isset($sign)&&($sign['sign_type']==$key-1)} selected="selected"{/if} value="{$key-1}">{$sign_type}</option>
                        {/volist}
                    </select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">签约时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onfocus="WdatePicker()" value="<?php echo (isset($sign['sign_time']) && ($sign['sign_time'] !== '')?date('Y-m-d',$sign['sign_time']):''); ?>"  name="sign_time"class="input-text Wdate" >
            </div>
        </div>
      
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">加挂账号信息：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$sign.other_account_content|default=''}" placeholder="加挂账号信息"  name="other_account_content">
            </div>
        </div>



        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                {if isset($sign)&&$sign!=''}
                <a class="btn btn-primary radius"  onclick="edit()"> 提交</a>
                {else}
                <a class="btn btn-primary radius"  onclick="add()"> 提交</a>
                {/if}
                <!--<input class="btn btn-primary radius" onclick="submit()" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">-->
            </div>
        </div>
    </form>
</article>



<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=33b529efc5e27ef1eb1f674704afd789"></script>
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });


    });

    function add(){
        $.ajax({
            url:'{:url("sign/add")}',
            type:'post',
            data:$('form').serialize(),
            success:function (data) {
                if(data.code==0){
                    layer.msg(data.msg);
                    parent.location.reload();
                    setTimeout("parent.layer.close(parent.layer.getFrameIndex(window.name))",2000);
                }else{
                    layer.msg(data.msg);
                }
            }
        });
    }
    function edit(){
        $.ajax({
            url:'{:url("sign/edit")}',
            type:'post',
            data:$('form').serialize(),
            success:function (data) {
                if(data.code==0){
                    layer.msg(data.msg);
                    parent.location.reload();
                    setTimeout("parent.layer.close(parent.layer.getFrameIndex(window.name))",2000);
                }else{
                    layer.msg(data.msg);
                }
            }
        });

    }



</script>

{/block}
