{extend name="base" /}

{block name="content"}

<div class="Hui-article-box">

    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> {$title1}<span class="c-gray en">&gt;</span>{$title2}<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:history.go(-1);" title="返回" >返回</a></nav>
    <div class="panel panel-default" >
        <div class="panel-header">
            <span>客户编号&nbsp;[{$client['client_number']}]</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span>客户名称&nbsp;[{$client['name']}]</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span>所属机构&nbsp;[{$client['bankname']|default='罗庄农村商业银行'}]</span>
        </div>
    </div>
    <div class="btn-group" style="text-align: center;">
        {include file="clientmenu"}
    </div>
    <h4 style=" text-align: center;">签约信息详情</h4>
    <div>
        <div class="panel panel-default">
            <div class="panel-header" style="display: flex;justify-content: space-between;"><span>签约信息</span><!-- <a href="javascript:;" onclick="submit('添加签约信息','{:url('sign/add',array('client_id'=>$client['id']))}','','510')" ><i class="Hui-iconfont">&#xe600;</i>添加</a> --></div>
            <div class="panel-body">

                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead >
                        <tr class="text-c">
                            <th>签约产品</th>
                            <th>数量</th>
                           
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr class="text-c">
                            <td>网银</td>
                            <td>{$sign.wangyin|default=''}</td>
                        </tr>
                        <tr class="text-c">
                            <td>短信版</td>
                            <td>{$sign.duanxinban|default=''}</td>
                        </tr>  
                        <tr class="text-c">
                            <td>客户端</td>
                            <td>{$sign.kehuduan|default=''}</td>
                        </tr>   
                        <tr class="text-c">
                            <td>Wap</td>
                            <td>{$sign.wap|default=''}</td>
                        </tr>   
                        <tr class="text-c">
                            <td>短信通</td>
                            <td>{$sign.duanxintong|default=''}</td>
                        </tr>   
                        <tr class="text-c">
                            <td>Pos</td>
                            <td>{$sign.pos|default=''}</td>
                        </tr>   
                        <tr class="text-c">
                            <td>快捷支付</td>
                            <td>{$sign.quickpay|default=''}</td>
                        </tr>   
                        
                        <tr class="text-c">
                            <td>签约网点</td>
                            <td>{$sign.sign_website_name|default=''}</td>
                        </tr>   
                    </tbody>
 
                </table>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [[ 1, "desc" ]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,4,6,8]}// 制定列不参与排序
            ]
        });
        $('.table-sort tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
    function submit(title,url,w,h){
        layer_show(title,url,w,h);
    }
</script>



{/block}