{extend name="base" /}

{block name="content"}

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 数据分析 <span class="c-gray en">&gt;</span> 余额统计 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">

		<article class="cl pd-20">
			<div id="chart1" style="min-width:700px;min-height:720px"></div>

		</article>
	</div>
</section>


<!--请在下方写此页面业务相关的脚本-->
<script src="/static/lib/echarts/echarts.simple.min.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart1 = echarts.init(document.getElementById('chart1'));
    // 指定图表的配置项和数据
    option1 = {
        title: {
            text: '各支行发放贷款余额',
            subtext: '依据最新月份台帐'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        legend: {
            data: ['贷款总余额统计']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        xAxis: {
            type: 'category',
            data: {$dep}
        },
        series: [
            {
                name: '贷款总余额统计',
                type: 'bar',
                areaStyle: {normal: {color: '#33CC99'}},
                itemStyle: {
                    normal: {
                        // 设置扇形的颜色
                        color: 'red',
                        lineStyle:{color: '#33CC99'}
                    }
                },
                data: {$det}
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option1);

</script>

{/block}
